[Desktop Entry]
Encoding=UTF-8
Name=Netbox.Wallet
Comment=Netbox.Wallet P2P Cryptocurrency
Exec=netboxwallet %u
Terminal=false
Type=Application
Icon=nbx128
MimeType=x-scheme-handler/nbx;
Categories=Office;Finance;
