
# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=28735

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=400000

# bootstrap.dat input/output settings (linearize-data)
netmagic=a549549e
input=/root/.NetboxWallet/blocks
output_file=/root/bootstrap.dat
hashlist=/root/hashlist.txt
split_year=1

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
